body {
  background-color: #b1f5af;
}

.todo-list {
  background-color: whitesmoke;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow:
    /* The top layer shadow */
          0 1px 1px rgba(0,0,0,0.15),
            /* The second layer */
          0 10px 0 -5px #eee,
            /* The second layer shadow */
          0 10px 1px -4px rgba(0,0,0,0.15),
            /* The third layer */
          0 20px 0 -10px #eee,
            /* The third layer shadow */
          0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px ;
  margin-top: 3vmax;
  margin-bottom:  3vmax ;
  width: 40%;
  border: #333333 1px  solid;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.l-item{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding:10px 10px 3px 10px;
  cursor: text;
}

.form-container{
  display: flex;

}

.addToDo{
  background-color: rgb(255, 255, 255);
  height: 50px;
  border-radius: 5px;
  border: 0;
  padding: 0  20px;
}
button{
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  background-color: #b1f5af;
  font-size: xx-large;
}

.list{
  color: #fff;
  width: 300px;
  margin: 20px auto;
  height: 50px;
  background-color: #7dbf7b;
  border-radius: 5px;
  text-align: left;

}

.list p{

  padding: 10px;
  position: relative;
  transition: ease-in-out;
}

.list p button{
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: medium;
  height: 30px;
  color: #333333;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}